* {
    font-family: 'Museo Sans Cyrl', sans-serif; 
}

@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/headlines';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'base/media';

.container {
    max-width: 950px; 
    margin: 0 auto;
}